/*Paleta de colores: https://coolors.co/001011-093a3e-f6e3cc-16aaaf-1f4866*/

:root {
    --negro: #001011;
    --teal: #093A3E;
    --midnight-green: #093A3E;
    --indigo: #1F4866;
    --champagne: #F6E3CC;
    --light-teal: #16AAAF;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Lato;
}

body {
    /* background-color: var(--dark-aqua); */
    background-image: url(../img/fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

section {
    position: relative;
    width: 100%; /*Para que ocupe todo el ancho de la pantalla*/
    min-height: 100vh; /*Para que solo use la altura visible de la pantalla*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    color: whitesmoke;
    font-size: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--teal);
    border-radius: 5px;
    padding: 0 10 px;
    font-family: Quicksand;
    font-weight: 600;
}

header .logo:hover{
    color: var(--teal);
    background: whitesmoke;
    transition: 1s;
}

header .navbar {
    position: relative;
    display: flex;
}

header .navbar li {
    list-style: none;
    margin-left: 30px;
}

header .navbar li a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: 600;
    padding: 10px;
    transition: 0.3s;
    font-size: 0.9em;
    text-transform: uppercase;
}

header .navbar li a:hover{
    border-bottom: 5px solid var(--teal);
    padding: 2px;
}

.tituloBlanco {
    font-family: Quicksand;
    font-size: 1.5em;
    text-transform: uppercase;
    color: whitesmoke;
    margin: 1.5em 0;
}

/***********************************************************/
/*Contenido común*/

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

/*Copyright*/
.copyright {
    bottom: 0px;
    margin-bottom: 1em;
    color: whitesmoke;
    text-align: center;
}

/*Redes sociales*/
.redesSociales {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.redesSociales li {
    padding: 10px;
}

.redesSociales li a {
    color: whitesmoke;
    font-size: 1.5em;
    transition: 0.3s;
}

.redesSociales li:hover a{
    color: var(--teal);
}

/*******************************/
/*Botones idiomas*/
.lang-buttons button,
.contenidoContact form .buttons-form input {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--teal);
    background: whitesmoke;
    padding: 5px 5px;
    margin: left 30px;
    border-radius: 10px;
    letter-spacing: 2px;
    transition: 0.5s;
}

.lang-buttons button:hover,
.contenidoContact form .buttons-form input:hover {
    color: whitesmoke;
    background: var(--teal);
    transition: 0.5s;
}

/***********************************************************/
/*Contenido de Home*/
.contenidoHome {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}

.contenidoHome .tituloBox {
    position: relative;
    max-width: 600px;
    text-align: center;
}

.contenidoHome .tituloBox h2 {
    font-size: 2.5em;
    text-transform: uppercase;
    color: whitesmoke;
}

.contenidoHome .tituloBox h2 span {
    background: var(--teal);
    color: whitesmoke;
    /* padding: 0 10px; */
    text-align: center;
    font-size: 0.5em;
    font-family: Quicksand;
    font-weight: 600;
    border-radius: 20px;
}

.contenidoHome .tituloBox p{
    font-size: 1.8em;
    line-height: 1.5;
    color: whitesmoke;
    font-family: Quicksand;
    font-weight: 300;
    margin-bottom: 20px;
}

.contenidoHome .tituloBox a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--teal);
    background: whitesmoke;
    padding: 10px 20px;
    margin: left 30px;
    border-radius: 20px;
    letter-spacing: 2px;
    transition: 0.5s;
}

.contenidoHome .tituloBox a:hover{
    color: whitesmoke;
    background: var(--teal);
    transition: 0.5s;
}

.contenidoHome .tituloBox .frase {
    margin-top: 10px;
    font-family: "Lato cursiva";
    font-size: 1.25em;
}

.contenidoHome .imgBox{
    width: 400px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: -50px;
    z-index: -5; /*Para ponerlo por detrás del texto*/
}

.contenidoHome .imgBox img {
    height: 50vh;
}

/*******************************/
/*Círculo*/
.circulo {
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(7, 96, 96, 0.386);
    clip-path: circle(650px at right 800px);
    width: 100%;
    height: 100%;
    z-index: -1000;
}

/***********************************************************/
/*Contenido CV*/
.contenidoCV {
    display: flex;
    /* Distribución vertical */
    flex-direction: column;
    /* Alinea los elementos hijos al inicio del eje principal del contenedor */
    justify-content: flex-start;
    align-items: center;
}

.contenidoCV section {
    min-height: 0; /*Para anular el min-height del section general*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2em;
    border-radius: 10px;
    margin-bottom: 5em;
}

.contenidoCV #education {
    background-color: var(--champagne);
}

.contenidoCV #experience {
    background-color: whitesmoke;
}

.contenidoCV section h2 span {
    background: var(--teal);
    color: whitesmoke;
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    font-family: Quicksand;
    font-weight: 600;
    border-radius: 20px;
    padding: 0 10px;
}

.contenidoCV section ul {
    margin-top: 2em;
    font-family: "Lato cursiva";
    font-size: 1em;
    color: var(--negro);
}

.download-btn {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--teal);
    background: whitesmoke;
    padding: 5px 5px;
    margin: left 30px;
    border-radius: 10px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.5s;
}

.download-btn:hover {
    color: whitesmoke;
    background: var(--teal);
    transition: 0.5s;
}

/***********************************************************/
/*Proyectos*/

.contenidoProjects {
    display: flex;
    /* Distribución vertical */
    flex-direction: column;
    /* Alinea los elementos hijos al inicio del eje principal del contenedor */
    justify-content: flex-start;
    align-items: center;
}

.contenidoProjects section {
    min-height: 0; /*Para anular el min-height del section general*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2em;
    border-radius: 10px;
    margin-bottom: 5em;
}

.projects-section #projects-list {
    background-color: var(--champagne);
    padding: 2em;
    border-radius: 10px;
}

.project-icon {
  color: whitesmoke;
  background-color: var(--teal);
  font-size: 1.5em;
  transition: 0.3s;
  border-radius: 2em;
}

.project-icon:hover {
  color: var(--teal);
  background-color: whitesmoke;
}


/***********************************************************/
/*Contacto*/
.contenidoContact {
    display: flex;
    /* Distribución vertical */
    flex-direction: column;
    /* Alinea los elementos hijos al inicio del eje principal del contenedor */
    justify-content: flex-start;
    align-items: center;
}

.contenidoContact h3 {
    color: whitesmoke;
}

.contenidoContact section {
    min-height: 0; /*Para anular el min-height del section general*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2em;
    border-radius: 10px;
    margin-bottom: 5em;
}

.contenidoContact form {
    width: 40em;
    height: fit-content;
    background-color: var(--champagne);
    color: var(--teal);
    margin: 2em 0;
}

.contenidoContact form legend {
    background-color: var(--teal);
    color: whitesmoke;
    padding: 0.2em;
    border-radius: 0.5em;
}

.contenidoContact form fieldset {
    padding: 0.7em;
    margin: 1em;
}

.contenidoContact label,
.contenidoContact input {
    display: inline-block;
    justify-content: space-evenly;
}

.contenidoContact form .grupoCampos label {
    display: inline-block;
    width: 9.8em;
    margin-bottom: 1em;
    margin-left: 1.5em;
}

.contenidoContact form .grupoCampos input {
    width: 20em;
}

.contenidoContact form textarea {
    display: block;
    width: 100%;
    height: 15em;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    resize: vertical;
}

.contenidoContact form .buttons-form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2em 0;
}


/***********************************************************/
/*Tipografías*/
/*Títulos*/
@font-face {
  font-family: 'Quicksand';
  src: url("../fonts/Quicksand/static/Quicksand-SemiBold.ttf") format("truetype");
}
/*Resto de texto*/
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Lato cursiva';
  src: url("../fonts/Lato/Lato-Italic.ttf") format("truetype");
}
